{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-  Details du produit
{% endblock %}

{% block body %}

<h2 class="titlePage">{{product.name}}</h2>

<div class="product">
    
    <img src="../images/{{product.image}}" alt="{{product.image}}">
    <p>{{product.description}}</p>
    <div class="prix">
        <p class="priceStyle">Le prix est de {{product.price}}€</p>
        <a class="btn btn-success" href="#">Acheter</a>
    </div>
</div>

{% endblock %}
