{% extends 'base.html.twig'%}

{% block title %}    
	{{ parent() }}
{% endblock %}

{% block body %}
    	<h2 class="titlePage">All products</h2>
	<ul class="products">
		{% for product in products %}
			<li class="product">
                <h3>{{product.name}}</h3>
				<img src="{{asset('images/'~ product.image)}}" alt="{{product.image}}" style="width:20%">
				<div class="prix">
					<p class="priceStyle">Le prix est de : {{product.price|format_currency('EUR', locale='fr')}}</p>
					<a class="btn btn-success" href="{{ url('product.detail',{'slug':product.slug}) }}">En savoir plus</a>
				</div>
			</li>
		{% endfor %}
	</ul>
	
	{% include '_inc/pagination_products.html.twig'%}
    {% endblock %}
